*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial', sans-serif;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color:#fff;
}

/* .header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
} */
 
 
 .showcase-top{
     position: relative;
     z-index: 2;
     height: 90px;
 }
 .showcase-top img{
     width: 170px;
     position: absolute;
     top: 50%;
     left: 10%;
     transform: translate(-50%,-50%);
 }
 .showcase-top a{
    position: absolute;
    top: 50%;
    cursor: pointer;
    border-radius: 5px;
    right: 0;
    text-decoration: none;
    padding: 6px 18px;
    color: white;
    transform: translate(-50%,-50%);
    background: red;

 }
 .form-inline{
    position: relative;
    top: 25px;
    width: 57%;
    left: 20%;
 }
 .hr-line{
      background-color: #fff;
 }
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: rgb(26,48,67);
    background: linear-gradient(90deg, rgba(26,48,67,1) 0%, rgba(18,66,167,0.4546860980720413) 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
 
 
form{
    justify-content: center;
}
#my-div{
    height: 100%;
    padding: 40px;
}
.info-container{
    padding: 20px;
    background: rgb(67,31,26);
    background: linear-gradient(90deg, rgba(67,31,26,1) 0%, rgba(167,90,18,0.5471230728619573) 57%);
}
.poster-img{
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 5px;
}
.col-info{
    text-align: left;
    margin-top: 0px;
}
.hide{
    display: none;
}
video{
    padding: 20px;
    background: rgb(67,31,26);
    background: linear-gradient(90deg, rgba(67,31,26,1) 0%, rgba(167,90,18,0.5471230728619573) 57%);
 
}
.our-story-card-text{
    position: relative;
    top: 400px;
}
.site-footer{
    margin: 0 auto;
    position: static;
    padding-top: 30px;
    width: 70%;
}
ul.structural{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 17px;
    text-decoration: underline;
}
.date{
    font-size: 17px;
    text-decoration: underline; 
}
.footer-links{
    max-width: 1000px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.footer-link-item{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 24%;
    padding-right: 12px;
    vertical-align: top;
}